<div id="donate" class="donate">
    <a id="github" href="<%= theme.donate.github %>" target="_blank" class="pos-f tr3" title="Github"></a>
    <div id="DonateText" class="tr3">Donate</div>
    <ul id="donateBox" class="list pos-f tr3">
        <li id="PayPal">
            <a href="<%= theme.donate.paypal %>" target="_blank">PayPal</a>
        </li>
        <li id="Solana">
            <a href="<%= theme.donate.solana %>" target="_blank">Solana</a>
        </li>
        <li id="AliPay">AliPay</li>
        <li id="WeChat">WeChat</li>
    </ul>
    <div id="QRBox" class="pos-f left-100">
        <div id="BTCQR" class="MainBox" style="background-image: url(<%= theme.donate.BTCQR %>)"></div>
        <div id="AliPayQR" class="MainBox" style="background-image: url(<%= theme.donate.AliPayQR %>)"></div>
        <div id="WeChatQR" class="MainBox" style="background-image: url(<%= theme.donate.WeChatQR %>)"></div>
    </div>
</div>